/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 .btn {
   background-color: DodgerBlue;
   border: none;
   color: white;
   cursor: pointer;
 }*/
 
 /* Darker background on mouse-over */

 .btn{
   box-shadow: 2px 2px #888888;
 }
 
 .btn:hover {
   background-color: #DAF9FE;
 }

#icon_info{
   font-size: 1em;
}

/*Movie*/
.card_movie .card{
  margin-bottom: 15px;
  box-shadow: 3px 3px rgba(206, 206, 206, 0.3);
}

.card_movie .card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/*Person*/
.card_person .card{
  margin-bottom: -20px;
 
}
.card_person .card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.card_person .card-img-left, .no_image{
  border-radius: 15%;
}

/*TV*/
.card_tv .card{
  margin-bottom: 15px;
  /*box-shadow: 3px 3px rgba(206, 206, 206, 0.3);*/
  border-radius: 15px;
}
.card_tv .card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.card_tv .card-img-left, .no_image{
  border-radius: 15px 0px 0px 15px;
}

/*Keywords*/
.keywords_links{
  color: black;
}
.keywords_links:hover{
  text-decoration: none;
}
.keywords_text{
  margin-bottom: 3px;
}